* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Indie Flower', cursive;
}

body {
    background-color: #f4f6fc;
}

main {
    display: flex;
    height: 100vh;
    gap: 2rem;
    margin: 1rem;
    justify-content: space-evenly;
    max-width: 1440px;
}

/* Estilos del logo */

.link-logo {
    align-self: flex-start;
    
}

.logo {
    width: 10vw;
    border-radius: 10px;
    transition: 1s;
}

.logo:hover {
    transform: scale(1.1);
}

/* Estilos de la sección con el formulario de ingreso del texto a encriptar */

.caja-formulario {
    flex-grow: 8;
    height: 80vh;
    align-self: center;
}

.formulario {
    height: 100%;
}

textarea {
    background: none;
    width: 100%;
    height: 60vh;
    padding: 2rem 1rem 0;
    resize: none;
    border: none;
    display: block;
    overflow: auto;
    outline: none;
    font-size: 1.7rem;
    caret-color: #656565;
}

textarea::placeholder {
    color: #050a30;
    font-size: 1.7rem;
    font-style: italic;
}

.texto-aviso {
    margin: 0 auto;
    text-align: center;
}

.caja-botones {
    display: flex;
    justify-content: space-evenly;
    background-color: none;
    padding: .5rem 0;
}

.boton {
    padding: 0.2rem 1rem;
    background-color: #050a30;
    color: white;
    border-radius: 10px;
    border: none;
    font-size: 2rem;
    font-family: inherit;
    transition: .5s;
}

.boton:hover {
    cursor: pointer;
    background-color: #cae8ff;
    color: #050a30;
}

/* Estilos de la caja donde se muestran los resultados */

.caja-resultado {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
    align-self: center;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 5px 5px 20px #050a30;
    margin: 4rem auto;
    min-width: 400px;
    max-width: 500px;
    min-height: 500px;
    overflow: hidden;
    overflow: auto;
    max-height: 90vh;
}

#texto-resultado {
    display: none;
    text-align: center;
    max-width: 90%;
    margin: 1rem auto;
    font-size: 1.1rem;
    word-wrap: break-word;
    padding-top: 1rem;
}

#img-buscador {
    display: block;
    margin: 0 auto;
    max-width: 200px;
    transition: 1s;
}

.img-buscador:hover {
    transform: rotate(35deg);
}

.titulo-referencia {
    width: 80%;
    text-align: center;
    margin: 1rem auto;

}

.texto-referencia {
    width: 80%;
    text-align: center;
    margin: 1rem auto;
    overflow: scroll;
}

#boton-copiar {
    max-width: 50%;
    margin: 2rem auto;
    display: none;
}

@media screen and (max-width: 992px) {
    main {
        flex-direction: column;
    }

    .link-logo {
        align-self: center;
    }

    .logo {
        width: 15vw;
    }

    .caja-formulario {
        width: 90vw;
        flex-grow: 0;
        height: 60vh;
    }

    textarea {
        height: 50vh;
    }

    .caja-resultado {
        width: 90vw;
        flex-grow: 0;
        margin: 0 auto;
        min-height: 0;
        display: inline-block;
        overflow: auto;
    }

    #img-buscador {
        display: none;
    }

    #texto-resultado {
        font-size: 1rem;
    }
}
  