* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
    font-family: 'Indie Flower', cursive;
}

body {
    background-color: #cae8ff;
}

main {
    /* background-color: aquamarine; */
    height: 100vh;
}

.logo {
    width: 10vw;
    border-radius: 10px;
    position: fixed;
    top: 1rem;
    left: 1rem;
}

.caja-texto {
    display: inline-block;
    background-color: gray;
    width: 50%;
    height: 60vh;
    position: fixed;
    bottom: 2rem;
    left: calc(10vw + 2rem);
}

textarea {
    background-color: #ffcace;
    width: 100%;
    padding-left: 1rem;

}

textarea::placeholder {
    color: #050a30;
    font-size: 1.5rem;
    font-family: 'Indie Flower', cursive;
}

.caja-resultado {
    display: inline-block;
    background-color: rgb(255, 255, 255);
    text-align: center;
    width: 30%;
    border-radius: 10px;
    position: fixed;
    top: .5rem;
    right: .5rem;
    bottom: .5rem;
}

.img-buscador {
    width: 70%;
    margin: 1rem auto;
}

h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.texto-resultado {
    padding: 0 .3rem;
    margin-bottom: 0.5rem;
}

@media screen and (max-width: 1400px) {
    html {
        font-size: 25px;
    }
}

@media screen and (max-width: 768px) {
    html {
        font-size: 18px;
    }
}

@media screen and (max-width: 450px) {
    html {
        font-size: 12px;
    }
}